
body,
html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
    

}
th, td {



}
.img-home{
  border-radius: 50%;
  padding: 12px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;}

.header {
  display: flex;
  margin: 0;

}
.header-awards{
  text-align: center;
  margin: auto;
  padding: 25px;
}
.awards {
margin: auto;

  


}


.caption {
  margin: auto;
  padding: 80px;
  font-size: 70pt;
  color: #484f4f;
  font-family: 'Calligraffitti',Times, serif;
  font-style: normal;
  font-weight: 380;
}

.nav-bar {
  background-color: #484f4f;
  display: flex;
}

.nav-item {
  align-self: center;

  margin: auto;
  width: 70%;
  font-family: "Courier New", serif;
  font-size: 17pt;
  font-weight: bolder;
  color: #e2e8e4;
  background-color: #484f4f;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.img{
 
 margin:auto;

}
.nav-item:hover,
.nav-item:active {
  color: #484f4f ;
  background-color: #c7c9c89e;
}
main {

  background-color:#ddddd9 ;
  background-size: 500px;
  background-image: url(img/background.jpg);
  background-size: cover;
  
}
.header-article{
  display: block;
  font-family: 'Calligraffitti',Times, serif;
  color: #484f4f;
  font-style: normal;
  margin: auto;
  text-align: center;

}
.main-article {
  margin-left: 23%;
  margin-right: 23%;
  background-color: #fff;
  padding: 15px;
  font-family:Times;
}
.article-text {
  font-size: 16pt;
}

.footer-item {
  color: #e2e8e4;
  background-color: #484f4f;
  padding: 14px 25px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}




.footer {
  background-color: #484f4f;

  display: flex;
  width: 100%;
  
}

.footer-p {
  color: #e3edfa;
  font-family: 'Calligraffitti',Times, serif;
  margin: auto;
  font-size: 10 pt;
  font-weight: bolder;
}

